@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Regular";
  src: url("../../../public/fonts/Muller/MullerRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Medium";
  src: url("../../../public/fonts/Muller/MullerMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Bold";
  src: url("../../../public/fonts/Muller/MullerBold.ttf") format("truetype");
}

.container {
  margin: 5%;
}

.container h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 120%;
  color: #1E2432;
  font-family: "Muller Medium";
  margin-bottom: 32px;
}

.blocks {
  display: grid;
  grid-template-areas: "first second" "first third";
}

.first_block, .second_block, .third_block {
  padding: 40px;
  background: #3A66D7;
  border-radius: 32px;  
}

.first_block {
  margin-right: 10px;
  position: relative;
}

.second_block {
  margin-left: 10px;
  margin-bottom: 10px;
}

.third_block {
  margin-left: 10px;
  margin-top: 10px;
}

.first_block_img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  object-fit: cover;
  border-radius: 32px;
  background: url(https://realibi.kz/file/301012.png) no-repeat;
  background-size: cover;
  background-position: 100%;
}

.first_block_content {
  position: relative;
  z-index: 2;
}

.block_text {
  font-size: 16px;
  color: #fff;
  line-height: 150%;
  font-family: "Noto Sans Regular";
}

.block_title {
  font-size: 24px;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muller Regular";
}

.first_block {
  grid-area: first;
}

.second_block {
  grid-area: second;
}

.third_block {
  grid-area: third;
}

@media screen and (max-width: 1200px) {
  .block_text {
    padding-right: 100px;
  }
}

@media screen and (max-width: 800px) {
  .blocks {
    grid-template-areas: "first" "second" "third";
  }
  .first_block, .second_block, .third_block {
    margin: 10px 0;
  }
  .first_block {
    padding-bottom: 200px;
  }
  .first_block .block_text {
    padding-right: 181px;
  }
}

@media screen and (max-width: 600px) {
  .first_block .block_text {
    padding-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .first_block_img {
    background-position: 96% 63px;
  }
}

@media screen and (max-width: 390px) {
  .first_block, .second_block, .third_block {
    padding: 20px;
  }
  .first_block {
    padding-bottom: 157px;
  }
  .block_text {
    font-size: 14px;
  }
  .block_title {
    font-size: 20px;
  }
}