@font-face {
  font-family: "Gotham Regular";
  src: url('../../../../../public/fonts/Gotham_pro/gothampro.ttf') format(truetype);
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../../../../../public/fonts/Gotham_pro/gothampro_medium.ttf') format(truetype);
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../../../../../public/fonts/Gotham_pro/gothampro_light.ttf') format(truetype);
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../../../../../public/fonts/Gotham_pro/gothampro_bold.ttf') format(truetype);
}

.container {
  position: relative;
  padding: 0 100px;
  background: #FBFDFF;

  min-height: 100vh;

}

.wrapperAll {
  padding-top: 60px;
}

.wrapperAll h1 {
  font-size: 45px;
  font-family: 'Gotham Medium';
}

.answer_comment,
.lesson_tesis,
.lesson_title_wrapper,
.lesson_grade_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 0.5px solid #a3cefd83;
}


.lesson_tesis p,
.lesson_grade_wrapper div,
.answer_comment p {
  font-family: 'Gotham Regular';
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 15px;
}

.wrapper_answersRow {
  display: flex;
  align-items: center;
}

.lesson_tesis {
  width: 40%;
}

.answer_comment {
  width: 20%;
}

.lesson_grade_wrapper {
  width: 20%;
}


.lesson_grade {
  display: flex;
  display: block;
  padding: 10px 20px;
  /*border: 1px solid #2E8CF2;*/
  color: #000;
  align-self: flex-end;
  justify-self: flex-end;
  border-radius: 4px;
  margin-left: 15px;
}

.bricksRow {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.lesson_title_wrapper {
  width: 25%;
  font-family: 'Gotham Medium';
  border: none;
}

.lesson_title_wrapper p {
  font-size: 25px;
  margin-bottom: 0px;
}

.lesson_title_wrapper p:nth-child(2) {
  font-size: 18px;
  color: #2e8df27e;
}



.answerRow {
  margin-top: 20px;
  box-shadow: 0px 0px 11px 3px #A3CEFD40;
  padding: 25px 20px;
  width: 90%;
}

.lessons {
  width: 100%;
  display: flex;
  align-items: center;
}

.answerText {
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid #a3cefd83;
  width: 100%;
}

.wrapperAnswers {
  margin-top: 30px;
}

.green {
  background-color: green;
}

.plusButton {
  width: 75px;
  height: 75px;
  background: #2E8CF2;
  color: #fff;
  border-radius: 50%;
  border: none;
  margin-left: 15px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.plusButton.rotate {
  transform: rotate(90deg); /* поворачиваем на 45 градусов */
}

.answer_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.student_answer {
  display: flex;
  flex-direction: column;
}

.student_answer_text {
  display: flex;
  flex-direction: column;
}

.comment_block {
  flex-direction: column;
}

.work_headline {
  font-size: 20px;
  font-family: 'Gotham Medium';
  margin-top: 0;
}

.comment_block,
.student_answer_text,
.student_answer,
.answer_block,
.wrapper_block {
  margin: 10px 0;
}

.wrapper_block {
  display: flex;
  flex-direction: column;
}

.grade_toMark_item {
  padding: 7px 20px;
  background: #fff;
  border: 1px solid #A3CEFD;
  box-shadow: 0px 0px 11px 3px #A3CEFD33;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}

.grade_toMark_active {
  padding: 7px 20px;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;

  background: #A7E577;
  border: 1px solid #A7E577;
  box-shadow: 0px 0px 11px 3px rgba(163, 206, 253, 0.2);
}

.grade_toMark {
  margin-top: 15px;
}

.input_container p {
  font-family: 'Gotham Regular';
  font-size: 18px;
  margin-bottom: 10px;
}

.lesson_work {
  margin-right: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  width: fit-content;
  background: #A3CEFD;
  color: white;
  font-family: 'Gotham Regular';
  outline: none;
}

.input_container {
  height: fit-content;
  width: 80%;
  outline: none;
  background: #FFFFFF;
  border: 0.5px solid #A3CEFD;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Gotham Regular';
  margin-top: 10px;
}

.teacherComment {
  width: 40%;
  height: 70px;
  outline: none;
  background: #FFFFFF;
  border: 0.5px solid #A3CEFD;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Gotham Regular';
  resize: none;
}

.sendButton {
  background: #2E8CF2;
  border-radius: 5px;
  color: white;
  padding: 15px 40px;
  outline: none;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
}

.studentComment {
  width: 80%;
  height: 70px;
  outline: none;
  background: #FFFFFF;
  border: 0.5px solid #A3CEFD;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Gotham Regular';
  resize: none;
}

@media screen and (max-width:575px) {
  .container {
    padding: 0 20px;
  }

  .lessons {
    width: 100%;
    flex-direction: column;
  }

  .lesson_info {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .lesson_title_wrapper,
  .lesson_grade_wrapper,
  .lesson_tesis {
    width: 100%;
    margin: 10px 0;
    border-bottom: 0.5px solid #a3cefd83;
    border-left: none;
    border-right: none;
  }

  .lesson_tesis p {
    margin-left: 0px;
  }

  .lesson_grade {
    width: 100%;
  }


  .answer_comment {
    width: 100%;
    margin-left: 0px;
    border-left: none;
  }

  .answer_comment p {
    margin-left: 0;
  }

  .lesson_title_wrapper span {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
  }

  .lesson_grade {
    margin-left: 0;
  }

  .lesson_grade_wrapper {
    width: 100%;
    align-self: flex-start;
    justify-self: flex-start;
    text-align: center;
  }

  .lesson_tesis span {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .lesson_tesis {
    height: auto;
  }

  .input_container,
  .teacherComment {
    width: 100%;
  }

  .grade_toMark span {
    padding: 7px 15px;
  }

  .grade_toMark {
    flex-wrap: wrap;
  }

  .work_headline {
    font-size: 16px;
  }

  .answer_block {
    display: flex;
    flex-direction: column;
  }

  .studentComment {
    width: 100%;
  }

  .comment_block {
    margin-top: 10px;
  }

  .wrapperAll h1 {
    font-size: 25px;
  }
}