.next_lesson {
    position: relative;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    border: 2px solid #F3F3F3;
    margin-bottom: 40px;
    border-radius: 16px;
  }
  
  .next_lesson img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.04;
    top: 0;
    pointer-events: none
  }
  
  .next_lesson_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .next_lesson_content p {
    margin: 0;
    font-size: 20px;
    font-family: "Noto Sans Regular";
  }
  
  .next_lesson_content button {
    color: #fff;
    padding: 13px 60px;
    background: #007AFF;
    border-radius: 8px;
    border: none;
    font-family: "Noto Sans Bold";
    font-size: 16px;
  }
  .next_lesson_content button:disabled {
    color: #fff;
    padding: 13px 60px;
    background: #D8D8DC;
    border-radius: 8px;
    border: none;
    font-family: "Noto Sans Bold";
    font-size: 16px;
  }