.mainRow {
	display: flex;
	flex-direction: row;
}

.courseRow {
	display: flex;
	flex-direction: row;
}

.courseTitle {
	border: 1px solid black;
}

.coursePrograms {
	border: 1px solid black;
}

.courseButtons {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}