@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Regular";
  src: url("../../../public/fonts/Muller/Muller-Trial-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Medium";
  src: url("../../../public/fonts/Muller/Muller-Trial-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Bold";
  src: url("../../../public/fonts/Muller/Muller-Trial-Bold.ttf") format("truetype");
}

.container {
  background-color: rgb(241, 250, 255);
  padding: 40px 120px;
}

.teach, .lesson {
  font-size: 24px;
  margin-bottom: 48px;
}

.lesson_title {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 10px;
}

.lesson_text {
  font-size: 16px;
}