.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center
}

.row button {
	outline: none;
	background: none;
	border: none;
	color: red;
	font-family: 'Gotham Regular';
}

@font-face {
	font-family: "Gotham Regular";
	src: url('../../../../../public/fonts/Gotham_pro/gothampro.ttf') format(truetype);
}

@font-face {
	font-family: 'Gotham Medium';
	src: url('../../../../../public/fonts/Gotham_pro/gothampro_medium.ttf') format(truetype);
}

@font-face {
	font-family: 'Gotham Light';
	src: url('../../../../../public/fonts/Gotham_pro/gothampro_light.ttf') format(truetype);
}

@font-face {
	font-family: 'Gotham Bold';
	src: url('../../../../../public/fonts/Gotham_pro/gothampro_bold.ttf') format(truetype);
}


.container {
	position: relative;
	padding: 0 100px;
	background: #FBFDFF;
}

.stepOne,
.stepTwo {
	padding: 60px 0;
	display: flex;
	flex-direction: column;
}

.stepOne h1,
.stepTwo h1 {
	font-size: 45px;
	font-family: 'Gotham Medium';
	color: #2E8CF2;
}

.radio_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40%;
}

.wrapperLabel {
	display: flex;
}

.wrapperLabel input,
.wrapperLabelCheckbox input {
	transform: scale(1.5);
	width: 100px;
}

.wrapperLabel label,
.wrapperLabelCheckbox label {
	/* margin-left: 15px; */
	/* font-family: 'Gotham Pro'; */
}

.wrapperLabelCheckbox {
	display: flex;
	margin-left: 15px;
}


.custom_radio,
.custom_checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom_radio+label,
.custom_checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer
}

.custom_radio+label::before,
.custom_checkbox+label::before {
	content: '';
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #A3CEFD;
	border-radius: 50%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.custom_checkbox+label::before {
	width: 1.2em;
	height: 1.2em;
	border-radius: 0.25em;
}

.custom_radio:checked+label::before,
.custom_checkbox:checked+label::before {
	border-color: #2E8CF2;
	background-color: #2E8CF2;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


.contentWrapper {
	margin-top: 30px;
}

.input_with_checkbox {
	display: flex;
}

.stepTwo {
	display: flex;
	flex-direction: column;
}

.input_container p {
	font-family: 'Gotham Regular';
	font-size: 18px;
	margin-bottom: 10px;
}

.input_container {
	margin-bottom: 20px;
	/* width: 100%; */
}


.input_container input {
	width: 40%;
	outline: none;
	background: #FFFFFF;
	border: 0.5px solid #A3CEFD;
	border-radius: 5px;
	padding: 10px 20px;
	font-family: 'Gotham Regular';
}


.input_container input:focus,
.input_container textarea:focus,
.input_container select:focus {
	border: 0.5px solid #2E8CF2;
}

.input_container select {
	width: 40%;
	outline: none;
	background: #FFFFFF;
	border: 0.5px solid #A3CEFD;
	border-radius: 5px;
	padding: 12px 40px 12px 20px;
	font-family: 'Gotham Regular';
}

.input_container textarea {
	width: 40%;
	height: 100px;
	outline: none;
	background: #FFFFFF;
	border: 0.5px solid #A3CEFD;
	border-radius: 5px;
	padding: 10px 20px;
	font-family: 'Gotham Regular';
	resize: none;
}

.form_button {
	background: #2E8CF2;
	border-radius: 5px;
	color: white;
	padding: 15px 40px;
	outline: none;
	border: none;
	width: fit-content;
}

.form_button:hover {
	transition: all 0.1s linear;
	background: #2b7ed6;
}


@media screen and (max-width: 1450px) {

	.stepOne h1,
	.stepTwo h1 {
		font-size: 30px;
		font-family: 'Gotham Medium';
	}
}


@media screen and (max-width:575px) {

	.input_container input,
	.input_container select,
	.input_container textarea {
		width: 100%;
	}

	.container {
		padding: 0 20px;
		width: 100%;
	}

	.contentWrapper {}

	.wrapper_box {
		width: 100% !important;
	}

	.stepOne h1,
	.stepTwo h1 {
		font-size: 20px;
		margin-bottom: 0;
	}

	.form_button {
		width: 100%;
	}

	.stepOne,
	.stepTwo {
		padding: 30px 0;
	}

	.modal {
		width: 90%;
		left: 5%;
	}

	.row button {
		font-size: 14px;
	}

}