@font-face {
	font-family: "Gotham Regular";
	src: url('../../../../../public/fonts/Gotham_pro/gothampro.ttf') format(truetype);
}

@font-face {
	font-family: 'Gotham Medium';
	src: url('../../../../../public/fonts/Gotham_pro/gothampro_medium.ttf') format(truetype);
}

@font-face {
	font-family: 'Gotham Light';
	src: url('../../../../../public/fonts/Gotham_pro/gothampro_light.ttf') format(truetype);
}

@font-face {
	font-family: 'Gotham Bold';
	src: url('../../../../../public/fonts/Gotham_pro/gothampro_bold.ttf') format(truetype);
}

.container {
	position: relative;
	padding: 0 100px;
	background: #FBFDFF;

	min-height: 100vh;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
}

.row h1 {
	font-size: 35px;
	font-family: 'Gotham Medium';
	color: #2E8CF2
}

.row span {
	font-family: 'Gotham Regular';
	color: #B63737;
}

.input_container {
	margin: 20px 0;
}

.editLesson {
	margin-top: 70px;
}

.whichProgramm {
	font-family: 'Gotham Regular';
}

.exerItem {
	padding: 8px 15px;
	border: none;
	border-radius: 3px;
	width: fit-content;
	/*background: #2E8CF2;*/
	color: white;
	font-family: 'Gotham Regular';
	outline: none;
	margin-right: 10px;
	cursor: pointer;
}

.exerItem:hover {
	transition: all 0.1s linear;
	background: #2b7ed6;
}

.wrapperPlusMinus {
	display: flex;
	margin-left: 15px;
}

.input_container span {
	font-family: 'Gotham Regular';
	font-size: 18px;
	margin-bottom: 10px;
	display: block;
	width: 40%;
}



.input_container input,
.input_container textarea {
	width: 100%;
	outline: none;
	background: #FFFFFF;
	border: 0.5px solid #A3CEFD;
	border-radius: 5px;
	padding: 10px 20px;
	font-family: 'Gotham Regular';
}


.lessonData {
	display: flex;
	flex-direction: column;
}

.saveButton {
	background: #2E8CF2;
	border-radius: 5px;
	color: white;
	padding: 15px 40px;
	outline: none;
	border: none;
	width: fit-content;
	margin-top: 25px;
}

.materials {
	display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  align-items: center;
	  gap: 10px;
	  border: 2px solid var(--secondary, #A3CEFD);
	  padding: 15px;
	  border-radius: 5px;
  }
  
  .material {
	display: flex;
	  flex-direction: column;
	  align-items: center;
	  border-radius: 5px;
	  border: 1px solid var(--secondary, #A3CEFD);
	  padding: 15px;
  }

.lessonTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px;
	gap: 10px;
	width: 320px;
	height: 48px;
	background: #FFFFFF;
	border: 1px solid #A2A7B2;
	border-radius: 4px;
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
}

.lessonContent {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 10px 4px 4px 12px;
	gap: 12px;
	height: 136px;
	background: #FFFFFF;
	border: 1px solid #A2A7B2;
	border-radius: 8px;
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 20px;
}

.plusMinusButton {
	border-radius: 3px;
	background: #2E8CF2;
	color: white;
	padding: 8px 15px;
	width: 50px;
	border: none;
	outline: none;
	margin: 0 5px;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.plusMinusButton:hover {
	transition: all 0.1s linear;
	background: #2b7ed6;
}

.exerciseSelectBlock {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	flex-wrap: wrap;
	align-items: center;
}

.exerciseInfoFirstRow {
	display: flex;
	flex-direction: column;
}

.exerciseInfoFirstRow span {
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 10px;
}

.exerciseText {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 10px 4px 4px 12px;
	gap: 12px;
	height: 136px;
	background: #FFFFFF;
	border: 1px solid #A2A7B2;
	border-radius: 8px;
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 20px;
}

.exerciseInfoSecondRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.inputBlock {
	display: flex;
	flex-direction: column;
}

.exerciseAnswer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px;
	gap: 10px;
	width: 320px;
	height: 48px;
	background: #FFFFFF;
	border: 1px solid #A2A7B2;
	border-radius: 8px;
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.attendanceWrapper {
	display: flex;
    flex-direction: column;
	margin-top: 50px;
	width: 698px;
	height: 681px;
	border: 1px solid var(--secondary, #A3CEFD);
	padding: 30px;
	border-radius: 5px;
	overflow: scroll;
}
.attendanceWrapper {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
  }
  
  .attendanceWrapper::-webkit-scrollbar {
	display: none; /* WebKit (Chrome, Safari, etc.) */
  }
.attendanceItem {
	width: 638px;
	height: 72px;
	border-radius: 5px;
	border: 1px solid var(--secondary, #A3CEFD);
	padding: 15px;
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-between;
}

.programRow {
	display: flex;
	flex-direction: row;
	width: 100%;
	box-shadow: 0px 0px 11px 4px #A3CEFD40;
	margin: 15px 0;
	border-radius: 10px;
	background: #fff;
	display: flex;
	align-items: center;
	padding: 30px;
}

.programRow:hover {
	transition: all 0.1s linear;
	box-shadow: 0px 0px 11px 6px #a3cefd6f;
	cursor: pointer;
}

.lessonInfoBlock {
	margin-bottom: 30px;
	width: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

@media screen and (max-width:575px) {

	.input_container input,
	.input_container select,
	.input_container textarea {
		width: 100%;
	}

	.container {
		padding: 0 20px;
		width: 100%;
	}

	.createLesson {
		padding: 20px 0;
	}

	.lesson_head p {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.contentWrapper {}

	.wrapper_box {
		width: 100% !important;
	}

	.whichProgramm {
		font-size: 14px;
	}

	.input_container span {
		width: 100%;
	}

	.row h1 {
		font-size: 20px;
	}

	.form_button {
		width: 100%;
	}

	.exerRow {
		width: 100%;
	}

	.exerItem {
		width: 31%;
		margin: 0 15px 0px 0;
	}

	.exerItem button {
		padding: 8px 15px;
		border: none;
		border-radius: 3px;
		width: fit-content;
		background: #2E8CF2;
		color: white;
		font-family: 'Gotham Regular';
		outline: none;
	}

	.exerciseSelectBlock {
		width: 100%;
		margin-bottom: 15px;
	}


	.wrapperPlusMinus {
		margin-left: 0;
	}


}