@font-face {
  font-family: "Muller Regular";
  src: url("../../../public/fonts/Muller/Muller-Trial-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Medium";
  src: url("../../../public/fonts/Muller/Muller-Trial-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Bold";
  src: url("../../../public/fonts/Muller/Muller-Trial-Bold.ttf") format("truetype");
}

.container{
  background-color: #f1faff;
}
.mainInfo{
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}
.leftMainInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.flud{
  font-family: 'Noto Sans';
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: end;
  color: #1E2432;
}
.courseTitle h1{
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1E2432;
}
.courseDescription{
  width: 70%;
}
.courseDescription p{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E2432;
}
.courseButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 60px;
  gap: 10px;
  width: 295px;
  height: 48px;
  background: #007AFF;
  border-radius: 8px;
  border: none;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.imgBoom{
  display: flex;
  width: 180px;
  height: 120px;
  background: url(https://realibi.kz/file/987597.png);
}
.imgGlobe{
  position: absolute;
  width: 23%;
  /*height: 250px;*/
  right: 3%;
  top: 16vh;
  transform: rotate(15deg);
}
.imgGirls{
  position: absolute;
  width: 40%;
  /*height: 620px;*/
  right: 7%;
  top: 7vh;
  z-index: 0;
}
.imgArrow{
  position: absolute;
  width: 52%;
  /*height: 747.37px;*/
  right: 6%;
  top: 28vh;
  /*border: 2px dashed #1E2432;*/
  transform: rotate(-0.15deg);
}
.targetPersons{
  margin-top: 76px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.targetPersons h1{
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  text-transform: uppercase;
  color: #1E2432;
}
.items{
  background: #FFFFFF;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  z-index: 1;
}
.item{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 32px;
  width: 33.3%;
  align-items: center;

  position: relative;
  xborder-bottom: 2px solid #f51c40;
}
.item:before {
  content: "";
  position: absolute;
  right: 0;
  z-index: 100;
  top: 10%;
  width: 1px;
  height: 80%;
  background: rgba(30, 36, 50, 0.15);
}
.item:last-child::before {
  width: 0px;
}
.imgEvaluation{
  width: 100px;
  height: 100px;
}
.imgMedal{
  width: 100px;
  height: 100px;
}
.imgDiploma{
  width: 100px;
  height: 100px;
}
.targetTitle{
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1E2432;
}
.targetDescr{
  font-family: 'Muller Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1E2432;
}
.courseSquares{
  margin-top: 76px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.courseSquares h1{
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  text-transform: uppercase;
  color: #1E2432;
}
.squares{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.leftSquare{
  display: flex;
  flex-direction: column;
  width: 38%;
  background: #3A66D7;
  border-radius: 32px 32px 32px 0px;
  margin-bottom: 20px;
  padding: 40px;
}
.rightSquare{
  display: flex;
  flex-direction: column;
  width: 60%;
  background: #3A66D7;
  border-radius: 32px 32px 0px 32px;
  margin-bottom: 20px;
  padding: 40px;
}
.squareTitle{
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.squareText{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

@media (max-width: 1440px){
  .imgGlobe{
    width: 27%;
    right: 3%;
    top: 12vh;
  }
  .imgGirls{
    width: 41%;
    right: 7%;
    top: 7vh;
  }
  .imgArrow{
    width: 57%;
    right: 3%;
    top: 15vh;
  }
}

@media (max-width: 1281px){
  .imgGlobe{
    width: 32%;
    right: 1%;
    top: 12vh;
  }
  .imgGirls{
    width: 52%;
    right: 3%;
    top: 7vh;
  }
  .imgArrow{
    width: 57%;
    right: 3%;
    top: 22vh;
  }
}

@media (max-width: 1000px){
  .courseTitle h1{
    font-size: 24px;
  }
  .courseDescription p{
    font-size: 14px;
  }
  .targetPersons h1{
    font-size: 24px;
  }
  .targetTitle{
    font-size: 16px;
  }
  .targetDescr{
    font-size: 14px;
  }
  .courseSquares h1{
    font-size: 24px;
  }
  .squareTitle{
    font-size: 20px;
  }
  .imgGlobe{
    width: 27%;
    right: 1%;
    top: 10vh;
  }
  .imgGirls{
    width: 58%;
    right: 1%;
    top: 5vh;
  }
  .imgArrow{
    width: 60%;
    height: 40%;
    right: 3%;
    top: 19vh;
  }
  .mainInfo{
    margin-top: 4vh;
  }
}

@media (max-width: 768px){
  .flud{
    font-size: 14px;
  }
  .imgBoom{
    width: 120px;
    height: 80px;
    background-size: 100%;
  }
  .courseTitle h1{
    font-size: 20px;
  }
  .leftMainInfo{
    width: 60%;
  }
  .courseDescription p{
    font-size: 12px;
  }
  .targetPersons h1{
    font-size: 20px;
  }
  .targetTitle{
    font-size: 14px;
  }
  .targetDescr{
    font-size: 12px;
  }
  .courseSquares h1{
    font-size: 20px;
  }
  .leftSquare{
    width: 49%;
  }
  .rightSquare{
    width: 49%;
  }
  .squareTitle{
    font-size: 16px;
  }
  .squareText{
    font-size: 14px;
  }
  .imgGlobe{
    width: 40%;
    right: 3%;
    top: 6vh;
  }
  .imgGirls{
    width: 54%;
    right: 0%;
    top: 8vh;
  }
  .imgArrow{
    display: none;
  }
}

@media (max-width: 480px){
  .courseTitle h1{
    font-size: 18px;
  }
  .targetPersons h1{
    font-size: 18px;
  }
  .courseButton{
    font-size: 14px;
  }
  .items{
    flex-direction: column;
  }
  .item{
    width: 100%;
  }
  .leftMainInfo{
    width: 80%;
  }
  .targetTitle{
    font-size: 16px;
  }
  .targetDescr{
    font-size: 14px;
  }
  .courseSquares h1{
    font-size: 18px;
  }
  .squares{
    flex-direction: column;
  }
  .leftSquare{
    width: 95%;
  }
  .rightSquare{
    width: 95%;
    place-self: end;
  }
  .squareTitle{
    font-size: 18px;
  }
  .mainInfo{
    flex-direction: column;
  }
  .imgGlobe{
    display: none;
    position: static;
  }
  .imgGirls{
    display: block;
    position: static;
    width: 100%;
  }
  .leftMainInfo{
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 390px){
  .courseTitle h1{
    font-size: 20px;
  }
  .leftMainInfo{
    width: 100%;
    align-items: center;
  }
  .courseDescription{
    width: 100%;
  }
  .mainInfo{
    flex-direction: column;
  }
  .courseDescription p{
    font-size: 13px;
  }
  .targetPersons h1{
    font-size: 16px;
  }
  .targetTitle{
    font-size: 14px;
  }
  .targetDescr{
    font-size: 12px;
  }
  .squareTitle{
    font-size: 16px;
  }
  .imgGlobe{
    display: none;
    position: static;
  }
  .imgGirls{
    display: block;
    position: static;
    width: 100%;
  }
}
@media (min-width: 1445px){
  .imgGlobe{
    width: 27%;
    right: 1%;
    top: 16vh;
  }
  .imgGirls{
    width: 41.2%;
    right: 7%;
    top: 7vh;
  }
  .imgArrow{
    width: 55%;
    right: 1%;
    top: 18vh;
  }
}