.modal {
  position: fixed;
  z-index: 500;
  background-color: #f3f3f3;
  max-width: 480px;
  padding: 40px;
  /* left: 41%; */
  text-align: center;
  /* top: 20%; */
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  left: 50%;
  margin-right: -50%;
  /* transform: translate(-50%, -50%); */
  top: 50%;
  border-radius: 20px;
}

.modal_link {
  overflow-wrap: break-word;
  cursor: pointer;
}

.modal_button {
  font-family: "Noto Sans Bold";
  cursor: pointer;
  background-color: #007AFF;
  color: white;
  width: max-content;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 12px;
  transition: 0.8s;
  font-size: 22px;
  margin-bottom: 6px;
  z-index: 5;
  width: 100%;
  margin-top: 32px;
}

.modal h3 {
  font-family: "Noto Sans Medium";
  font-size: 23px;
  margin: 0px 0 20px;
  text-transform: uppercase;
}

.modal p {
  font-family: "Noto Sans Regular";
  font-weight: 400;
  font-size: 20px;
  padding: 38px 23px 10px;
  text-align: center;
  line-height: 110%;
  word-wrap: break-word;
}

.modal_info {
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 490px) {
  .modal {
    width: 355px;
  }
  .modal p {
    padding: 28px 0px;
  }
}

@media screen and (max-width: 360px) {
  .modal {
    width: 280px;
    padding: 20px;
  }
  .modal h3 {
    font-size: 18px;
  }
}