@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Bold.ttf") format("truetype");
}

.container {
  margin: 20px 100px;
}

.program_block_container {
  width: 100%;
  display: flex;
  background: #3A66D7;
  justify-content: center;
  border-radius: 32px;
  padding: 27px 0 60px;
  margin-bottom: 80px;
}

.program_block {
  max-width: 600px;
  text-align: center;
  color: #fff;
}

.program_title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.program_title img {
  width: 75px;
  margin: 0 20px;
}

.stage_block_container {
  margin-bottom: 200px;
}

.stage_block_container h2 {
  margin-bottom: 80px;
  text-transform: uppercase;
}

.stages {
  display: flex;
  justify-content: space-between;
  background: url(https://realibi.kz/file/5613.png) no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20px 0;
  margin: 0 100px;
}

.stage span {
  background: #191919;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100px;
  height: 100px;
  font-size: 40px;
  border-radius: 50%;
}


.stage span:hover {
  background: #3A66D7;
}

.stage {
  position: relative;
}

.stage::before {
  content: '';
  background: url(https://realibi.kz/file/711952.png);
  position: absolute;
}

.stage_info {
  position: absolute;
  top: 125px;
  background: #3A66D7;
  color: rgb(255, 255, 255);
  width: 350px;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  padding: 0 34px 0 28px;
  border-radius: 16px;
}

.test {
  right: 0;
}

.start::before, .education::before, .feedback::before {
  content: '';
  position: absolute;
  left: 30px;
  top: -34px;
  border: 15px solid transparent;
  border-bottom: 20px solid #3A66D7;
}

.test::before {
  content: '';
  position: absolute;
  right: 30px;
  top: -34px;
  border: 15px solid transparent;
  border-bottom: 20px solid #3A66D7;
}

.stage_info h3 {
  font-size: 19px;
  font-family: "Noto Sans Regular";
}

.stage_info p {
  font-size: 14px;
  font-family: "Noto Sans Regular";
}
