@font-face {
    font-family: "NeoSansPro Bold";
    src: url("../../../public/fonts/NeoSansPro/NeoSansPro-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Medium";
    src: url("../../../public/fonts/NeoSansPro/NeoSansPro-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Regular";
    src: url("../../../public/fonts/NeoSansPro/NeoSansPro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Bold";
    src: url("../../../public/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Medium";
    src: url("../../../public/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Regular";
    src: url("../../../public/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}
.contactButtonBody{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 5;
}
.Button{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: #F1F5ED;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    box-shadow: 0px 5px 13px -7px #000000;
    border: 5px solid rgba(255, 255, 255, 0);
}
.phoneImg{
    height: 32px;
    width: 32px;
    transition: 0.3s;
    opacity: 50%;
}
.Button:hover{
    border: 5px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.Button:hover .phoneImg{
    transform: scale(0.9);
}
.messageBody{
    box-shadow: 0px 5px 13px -7px #000000;
    background: #F68939;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
    opacity: 0;
    transition: 0.3s;
}

.message{
    font-family: "Gilroy Regular";
    color: white;
}
.Button:active{
    transform: scale(0.9);
}