@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.modalBody{
    background: white;
    border-bottom: 0;
}
.title{
    font-size: 24px;
    color: black;
    font-family: "Rubik Bold";
    margin-left: 10%;
}
.modal-content{
    border: none;
    /*border-radius:20px;*/
}
