.group_call_room_container {
  width: 100%;
  background: #1C1C1C;
  /* border-radius: 10px; */
  /* -webkit-backdrop-filter: blur(22.5806px);
  backdrop-filter: blur(22.5806px); */
  padding-bottom: 85px;
}

.group_call_title {
  font-size: 50px;
  margin-top: 50px;
}

.group_call_videos_container {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}