@font-face {
  font-family: "Gotham Regular";
  src: url('../../../../../../public/fonts/Gotham_pro/gothampro.ttf') format(truetype);
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../../../../../../public/fonts/Gotham_pro/gothampro_medium.ttf') format(truetype);
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../../../../../../public/fonts/Gotham_pro/gothampro_light.ttf') format(truetype);
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../../../../../../public/fonts/Gotham_pro/gothampro_bold.ttf') format(truetype);
}


.container {
  padding: 0 100px;
  background: #FBFDFF;
}

.contentWrapper {
  padding: 60px 0;
}

.groupClicker span:nth-child(1),
.groupClicker a {
  display: block;
  padding: 5px 10px;
  background: #2E8CF2;
  color: #fff;
  font-family: 'Gotham Regular';
  border-radius: 2px;
  text-decoration: none;
}

.groupClicker span,
.groupClicker a {
  display: block;
  padding: 5px 10px;
  font-family: 'Gotham Regular';
  border-radius: 2px;
  font-size: 13px;

}

.groupClicker {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.students_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.students_head button {
  outline: none;
  border: solid 2px #2E8CF2;
  font-family: 'Gotham Regular';
  background: #fff;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 20px;
  margin: 0 auto;
}

.students_head h4 {
  font-size: 45px;
  font-family: 'Gotham Medium';
}

.my_students {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.student_item {
  position: relative;
  width: 48%;
  box-shadow: 0px 0px 11px 4px #A3CEFD40;
  margin: 15px 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: fit-content;
}

/* .student_item span:nth-child(2) {
  font-family: 'Gotham Medium';
  font-size: 28px;
  color: black;
  padding: 20px 0px 20px 20px;
  width: 300px;
} */

.student__name {
  font-family: 'Gotham Medium';
  font-size: 28px;
  color: black;
  padding: 10px 0px 20px 20px;
  width: 340px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  line-height: 130%;
}

.student_item__info_wrapper p {
  font-family: 'Gotham Regular';
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  margin-left: 15px;
}

.student_item__info_wrapper {
  border-left: 0.5px solid #a3cefd60;
  padding: 20px 0px 20px 0px;
  width: 400px;
}

.student_btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #2E8CF2;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.student_btn:hover {
  transition: all 0.1s linear;
  background: #2b7ed6;
}

.student_btn img {
  width: 20px;
  margin: 0 15px;
}

.student_btn span {
  color: white
}

.student_btn_obman {
  height: 100%;
  background: #fff;
  width: 30px;
  height: 30px;
}


.student_image img {
  width: 50px;
}

.student_image {
  margin-right: 10px;
}

.sortOptions {
  flex-direction: column;
  margin-bottom: 30px;
  position: absolute;
  width: 100%;
  z-index: 9;
  box-shadow: -2px 0px 11px 5px #A3CEFD40;
}

.sortContainer {
  position: relative;
  cursor: pointer;
}

.sortTitle {
  font-family: 'Gotham Regular';
  font-size: 16px;
  width: 185px;
  border: 1px solid #2E8CF2;
  padding: 10px 15px;
  /* background: url(https://realibi.kz/file/523525.png) no-repeat #fff; */
  background-position: 10px 50%;
  background-size: 20px;
  border-radius: 6px;
}

.sortHide {
  background: url(https://realibi.kz/file/618464.png) no-repeat;
  background-position: right 50%;
  background-size: 12px;
  padding: 0 40px 0 0;
}

.sortShow {
  background: url(https://realibi.kz/file/635945.png) no-repeat;
  background-position: right 50%;
  background-size: 12px;
  padding: 0 40px 0 0;
}

.sortOptions span {
  font-family: 'Gotham Regular';
  font-size: 14px;
  padding: 15px;
  background: #fff;
  border-bottom: 0.6px solid #2e8df275;
  cursor: pointer;
}

.sortOptions span:hover {
  background: #f1faff;
  cursor: pointer;
}


@media screen and (max-width:1450px) {
  .students_head h4 {
    font-size: 30px;
  }

  .students_head button {
    font-size: 14px;
    padding: 10px 30px;
    height: fit-content;
  }

  .student_item {
    position: relative;
    width: 48%;
  }

  .student__name {
    font-size: 18px;
    width: 200px;
    margin: 0 10px;
  }


  .student_item__info_wrapper p {
    font-size: 12px;
    margin-bottom: 7px;
    width: 250px;
  }

  .student_btn img {
    width: 12px;
    margin: 0 10px;
  }


}

@media screen and (max-width:575px) {
  .students_head h4 {
    font-size: 20px;
    margin: 0;
    width: 100%;
  }

  .container {
    padding: 0 20px;
  }

  .student_item {
    width: 100%;
  }

  .student__name {
    width: 100%;
    font-size: 13px;
    padding: 0;
  }

  .students_head {
    flex-wrap: wrap;
  }

  .students_head button {
    margin: 15px 0;
    margin-right: 15px;
    font-size: 12px;
  }

  .sortTitle {
    font-size: 12px;
    width: 172px
  }

  .sortHide {
    padding: 0 60px 0 0;
  }

  .student_image img {
    width: 30px;
  }

  .student_item__info_wrapper {
    padding: 10px 0;
  }

  .student_item__info_wrapper p {
    font-size: 10px;
    width: 100%;
  }

  .student_item__info_wrapper {
    width: 40%;
  }

  .my_students {
    margin-top: 30px;
  }

  .student_name_wrapper {
    width: 43%;
  }

  .student_btn_obman {
    align-self: flex-end;
    justify-self: flex-end;
  }
}