@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../../../public/fonts/notosansdisplay/NotoSansDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Regular";
  src: url("../../../public/fonts/Muller/Muller-Trial-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Medium";
  src: url("../../../public/fonts/Muller/Muller-Trial-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Bold";
  src: url("../../../public/fonts/Muller/Muller-Trial-Bold.ttf") format("truetype");
}

.about_marathone {
  display: flex;
  justify-content: space-between;
  margin: 70px 5%;
  align-items: center;
}

.info_block {
  width: 36%;
}

.info_block span {
  font-family: "Noto Sans Regular";
  color: #1E2432;
  font-size: 16px;
  line-height: 150%;
}

.info_block h1 {
  text-transform: uppercase;
  font-family: "Muller Medium";
  font-size: 24px;
  line-height: 150%;
  margin: 10px 0;
}

.info_block p {
  font-family: "Noto Sans Regular";
  font-size: 16px;
  margin: 0;
  line-height: 150%;
  margin-bottom: 40px;
}

.info_block button {
  font-family: "Noto Sans Bold";
  background: #007AFF;
  border-radius: 8px;
  border: none;
  color: #fff;
  padding: 13px 46px;
  font-size: 16px;
  line-height: 22px;
}

.santa_block {
  width: 60%;
  height: 420px;
  position: relative;
  border-radius: 32px;
}

.santa_block_text {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.santa_block_text p {
  margin: 0;
  line-height: 150%;
  color: #fff;
}

.santa_block_text_title {
  font-family: "Noto Sans Regular";
  font-size: 14px;
}

.santa_block_text_bold {
  font-family: "Muller Bold";
  font-size: 32px;
}

.santa_block_text_subtitle {
  font-family: "Noto Sans Medium";
  font-size: 18px;
}

.santa_bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url(https://realibi.kz/file/620861.png) no-repeat;
  background-size: 715px 420px;
  border-radius: 32px;
}

.gradient_bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%);
  border-radius: 32px;
}

.who_suits {
  padding: 40px;
  display: flex;
  margin: 5%;
  background: #fff;
  border-radius: 32px;
  justify-content: space-between;
}

.who_suits_img {
  width: 60%;
  margin-right: 40px;
}

.who_suits_img img { 
  width: 100%;
}

.who_suits_text {
  width: 40%;
  padding-right: 60px;
}

.who_suits_text h1 {
  font-size: 24px;
  font-family: "Muller Medium";
  text-transform: uppercase;
  line-height: 150%;
}

.who_suits_text p {
  font-family: "Noto Sans Regular";
  font-size: 16px;
  line-height: 150%;
}

@media screen and (max-width: 1000px){
  .who_suits {
    flex-direction: column;
    align-items: center;
  }
  .who_suits_img {
    width: 100%;
    max-width: 600px;
    margin-right: 0;
  }
  .who_suits_text {
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    padding-right: 0;
  }
  .who_suits_text h1 {
    font-size: 20px;
  }
  .santa_block_text_bold {
    font-size: 24px;
  }
  .santa_block_text_subtitle {
    font-size: 16px;
  }
  .info_block h1 {
    font-size: 20px;
  }
  .santa_block {
    width: 56%;
  }
  .info_block {
    width: 43%;
  }
}

@media screen and (max-width: 768px){
  .about_marathone {
    flex-direction: column-reverse;
    margin: 35px 5% 60px;
  }
  .santa_block {
    width: 100%;
  }
  .info_block {
    margin-top: 40px;
    width: 100%;
  }
  .santa_bg {
    background-position: -66px;
  }
  .santa_block_text_bold {
    font-size: 32px;
  }
  .santa_block_text_subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px){
  .who_suits {
    padding: 40px 20px;
  }
  .santa_block_text_title, .santa_block_text_subtitle {
    font-size: 13px;
  }
  .santa_block_text_bold {
    font-size: 20px;
  }
  .who_suits_text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 390px){
  .info_block h1 {
    font-size: 18px;
  }
  .info_block p {
    font-size: 14px;
  }
  .who_suits_text h1 {
    font-size: 18px;
  }
}