@font-face {
    font-family: "Noto Sans";
    src: url("../../../public/fonts/noto/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Regular";
  src: url("../../../public/fonts/Muller/MullerRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Medium";
  src: url("../../../public/fonts/Muller/MullerMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Bold";
  src: url("../../../public/fonts/Muller/MullerBold.ttf") format("truetype");
}
.container{
  background-color: #f1faff;
  margin: 40px 100px 0;
}
.mainInfo{
  display: flex;
  flex-direction: column;
  margin: 40px 0 0;
}
.mainInfo h1 {
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1E2432;
  margin-bottom: 30px;
}
.previewBlock{
  background: #FFFFFF;
  border-radius: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 27px;
}
.logoBlock{
  display: flex;
  width: 30%;
}
.infoBlock{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 50px 50px;
}
.infoBlock h2, .infoBlock h3 {
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E2432;
}

.infoBlock h2 {
  text-transform: uppercase;
  display: none;
}

.infoBlock p{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E2432;
  margin-bottom: 32px;
}
.courseButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*padding: 18px 60px;*/
  gap: 10px;
  width: 295px;
  height: 48px;
  background: #007AFF;
  border-radius: 8px;
  border: none;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.detailInfo{
  background: #FFFFFF;
  border-radius: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.detailInfoHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
}
.detailInfoHeader p{
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /*line-height: 150%;*/
  display: flex;
  /*align-items: center;*/
  text-transform: uppercase;
  color: #1E2432;
  margin: 0px;
}
.detailInfoContain{
  display: none;
}
.showDetailInfoContain{
  display: flex;
  padding: 32px;
  font-family: 'Noto Sans';
}
.showButton{
  cursor: pointer;
}

.showButton img {
  width: 23px;
  height: 23px;
  object-fit: contain;
}

.diplomaBlock{
  display: flex;
  overflow: hidden;
  position: relative;
}
.diplomaAll {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.diplomaBlock img, .diplomaAll img {
  margin: 10px;
  max-width: 250px;
}
.diplomaBlock span, .diplomaAll span {
  position: absolute;
  background: #1E2432;
  color: #fff;
  opacity: 0.8;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 4px;
}

.items{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  justify-items: center;
}
.item{
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 20px;
  background: #F5F8FF;
  border-radius: 16px;
  margin-bottom: 15px;
}

.item img {
  width: 60px;
  height: 60px;
  display: block;
}

.item p{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1E2432;
}
.imgTeacher{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 32px;
}

@media screen and (max-width: 1280px) {
  .container{
    margin: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .item {
    padding: 13px;
  }
  .item img{
    width: 46px;
    height: 46px;
  }
  .item p {
    font-size: 13px;
  }
  .showDetailInfoContain {
    padding: 20px;
  }
  .infoBlock h1 {
    font-size: 24px;
  }
  .infoBlock p {
    font-size: 14px;
  }
  .logoBlock {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .items{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .infoBlock h1 {
    font-size: 20px;
  }
  .infoBlock {
    padding: 24px 20px;
  }
}

@media screen and (max-width: 500px) {
  .container{
    margin: 20px;
  }
  .items{
    grid-template-columns: 1fr 1fr;
  }
  .previewBlock {
    background: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .logoBlock {
    width: 75%;
  }
  .infoBlock {
    width: 100%;
    border-radius: 32px;
    background: #fff;
  }
  .courseButton {
    width: 100%;
    padding: 0;
  }
  /* .mainInfo h1 {
    display: none;
  } */
  .infoBlock h3, .infoBlock h2 {
    font-size: 20px;
  }
  .infoBlock h2 {
    display: block;
  }
  .mainInfo h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 390px) {
  .item img{
    width: 36px;
    height: 36px;
  }
  .item p {
    font-size: 10px;
  }
  .detailInfoHeader p {
    font-size: 14px;
  }
  .showDetailInfoContain {
    padding: 15px;
  }
  .diplomaBlock img, .diplomaAll img {
    max-width: 200px;
  }
  .mainInfo h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 360px) {
  .mainInfo h1 {
    font-size: 16px;
  }
}