@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../../public/fonts/notosansdisplay/NotoSansDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../../public/fonts/notosansdisplay/NotoSansDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../../../../public/fonts/notosansdisplay/NotoSansDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Regular";
  src: url("../../../../public/fonts/Muller/Muller-Trial-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Medium";
  src: url("../../../../public/fonts/Muller/Muller-Trial-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Muller Bold";
  src: url("../../../../public/fonts/Muller/Muller-Trial-Bold.ttf") format("truetype");
}

.cantainer{
	margin-top: 40px;
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
}

.next_lesson {
  position: relative;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  border: 2px solid #F3F3F3;
  margin-bottom: 40px;
  border-radius: 16px;
}

.next_lesson img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.04;
}

.next_lesson_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.next_lesson_content p {
  margin: 0;
  font-size: 20px;
  font-family: "Noto Sans Regular";
}

.next_lesson_content button {
  color: #fff;
  padding: 13px 60px;
  background: #D8D8DC;
  border-radius: 8px;
  border: none;
  font-family: "Noto Sans Bold";
  font-size: 16px;
}

.topBlock{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.greetings{
	display: flex;
	width: 50%;
	flex-direction: column;
}

.greetings span{
	font-family: 'Noto Sans Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #1E2432;
}

.greetings h1{
    font-family: 'Muller Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	text-transform: uppercase;
	color: #1E2432;
}

.greetings p{
	font-family: 'Noto Sans Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #1E2432;
}

.greetings button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 18px 60px;
	gap: 10px;
	width: 295px;
	height: 48px;
	background: #007AFF;
	border: none;
	border-radius: 8px;
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

.calendarBlock{
	display: flex;
	width: 50%;
	flex-direction: row;
	justify-content: end;
}

.programsBlock{
	margin-top: 80px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.programsBlock h1{
    font-family: 'Muller Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	text-transform: uppercase;
	color: #1E2432;
	margin-bottom: 40px;
}

.programsHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	height: 80px;
	align-items: center;
	padding: 16px;
	gap: 12px;
	background: #FFFFFF;
	border-radius: 16px;
}

.programsHeader span{
    font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #1E2432;
	padding: 5px;
}

.program{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	height: 80px;
	align-items: center;
	padding: 16px;
	gap: 12px;
	background: #FFFFFF;
	border-radius: 16px;
}

.program span{
    font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #1E2432;
	padding: 5px;
}

.pNumber{
	width: 5%;
}

.pNumberHead {
	position: relative;
}

.pCourse{
	width: 20%;
}

.pCourseHead{
	position: relative;
}

.pProgram{
	width: 25%;
}

.pProgramHead{
	position: relative;
}

.pLessCount{
	width: 15%;
}

.pLessCountHead{
	position: relative;
}

.pDates{
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pDatesHead{
	position: relative;
}

.pEdit{
	padding-left: 10px;
	width: 15%;
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	align-items: center;
	color: #007AFF !important;
}

.pEdit a{
	text-decoration-line: none;
}

.pEdit a:hover{
	text-decoration-line: underline;
}

.pEditTitle{
	padding-left: 10px;
	width: 15%;
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	align-items: center;
	text-decoration-line: none;
}

.addProgram{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 18px 30px;
	gap: 10px;
	width: 280.23px;
	height: 48px;
	background: #007AFF;
	border-radius: 8px;
	border: none;
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

.addProgramContainer{
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.studentsBlock{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 92px 0 60px;
}

.studentsBlock h1{
    font-family: 'Muller Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	text-transform: uppercase;
	color: #1E2432;
	margin-bottom: 40px;
}

.studentsHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	height: 80px;
	align-items: center;
	padding: 16px;
	gap: 12px;
	background: #FFFFFF;
	border-radius: 16px;
}

.studentsHeader span{
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #1E2432;
	padding: 5px;
}

.student{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	height: 80px;
	align-items: center;
	padding: 16px;
	gap: 12px;
	background: #FFFFFF;
	border-radius: 16px;
}

.student span{
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #1E2432;
	padding: 5px;
}

.sCourse{
	width: 20%;
}

.sFullname{
	width: 20%;
	display: flex;
	flex-direction: row;
}

.sComplietedLessons{
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sNextLesson{
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sProgram{
	width: 20%;
}

.studentCage{
	display: flex;
	flex-direction: row;
	cursor: pointer;
	align-items: center;
}

.idAndName{
	display: flex;
	flex-direction: column;
}

.name{
	font-family: 'Noto Sans Bold';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #1E2432;
}

.id{
	font-family: 'Noto Sans Regular' !important;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #191D23;
}

.progressLine{
	display: flex;
	height: 8px;
	width: 150px;
	background: #F9F5FF;
	border-radius: 4px;
	margin-right: 12px;
}

.studentProgress{
	height: 8px;
	background: #007AFF;
	border-radius: 4px;
}

.sCourseHead, .sFullnameHead, .sComplietedLessonsHead, .sNextLessonHead {
	position: relative;
}

.pNumberHead::after, 
.pCourseHead::after, 
.pDatesHead::after, 
.pLessCountHead::after, 
.pProgramHead::after {
	content: "";
	border-right: 1px solid #D8D8DC;
	display: block;
	height: 80px;
	position: absolute;
	right: 0;
	top: -23px;
}

.sCourseHead::after {
	content: "";
	border-right: 1px solid #D8D8DC;
	display: block;
	height: 80px;
	position: absolute;
	right: 0;
	top: -11px;
}

.sFullnameHead::after, .sComplietedLessonsHead::after, .sNextLessonHead::after {
	content: "";
	border-right: 1px solid #D8D8DC;
	display: block;
	height: 80px;
	position: absolute;
	right: 0;
	top: -23px;
}

.titleContainer {
	display: flex;
	justify-content: space-between;
}

.sortOptions {
	flex-direction: column;
	margin-bottom: 30px;
	position: absolute;
	width: 100%;
	z-index: 9;
}

.sortContainer {
	position: relative;
	cursor: pointer;
}

.sortTitle {
	width: 285px;
  border: 1px solid #A2A7B2;
  padding: 15px 40px;
  background: url(https://realibi.kz/file/523525.png) no-repeat #fff;
  background-position: 10px 50%;
  background-size: 20px;
  border-radius: 8px;
}

.sortHide {
	background: url(https://realibi.kz/file/618464.png) no-repeat;
  background-position: right 50%;
  background-size: 12px;
  padding: 0 121px 0 0;
}

.sortShow {
	background: url(https://realibi.kz/file/635945.png) no-repeat;
  background-position: right 50%;
  background-size: 12px;
  padding: 0 121px 0 0;
}

.sortOptions span {
	padding: 15px;
	background: #fff;
	border-bottom: 1px solid #8E8E93;
	cursor: pointer;
}

.sortOptions span:hover {
	background: #f1faff;
	cursor: pointer;
}
  .sConfigureWrapper {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  width: 20%;
  }
  .sConfigureGear {
	  background-image: url(https://realibi.kz/file/867377.png);
	  width: 20px;
	  height: 20px;
	  background-size: cover;
  }
  
  .sConfigure {
	  cursor: pointer;
  }
  .sConfigure{
	  padding-left: 10px;
	  width: auto;
	  font-family: 'Noto Sans Medium';
	  font-style: normal;
	  font-weight: 500;
	  font-size: 16px;
	  line-height: 150%;
	  align-items: center;
	  color: #007AFF !important;
  }
  .sConfigure {
	  text-decoration-line: none;
  }
  .sConfigure:hover{
	  text-decoration-line: underline;
  }