html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FDFFFC;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
}
.odometer-digit-spacer{
    display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* calendar 2 */
.col-start-2 {
    grid-column-start: 1;
}
.col-start-3 {
    grid-column-start: 2;
}
.col-start-4 {
    grid-column-start: 3;
}
.col-start-5 {
    grid-column-start: 4;
}
.col-start-6 {
    grid-column-start: 5;
}
.col-start-7 {
    grid-column-start: 6;
}
.py-1-5 {
  /* width: 70px;
  text-align: center;
  height: 50px; */

  width: 70px;
    text-align: center;
    height: 50px;
    border: 1px;
    border-color: #F6F6F6;
    /* border-style: inset; */
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.today {
  background-color: #87bbf4;
}
.selectedDay {
  background-color: #007AFF;
}
.selectedDayNumber {
  color: white;
}
.todayNumber {
  color: white;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    display: flex !important;
    align-items: flex-start !important;
    height: 350px;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
    margin: 0 -0.3px;
}

[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide a{
    transition-duration: 1s;
}
.slick-slide span{
    transition-duration: 1s;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
    transform: scale(0.7);
    transition-duration: 1s;
    opacity: 0;
}
.slick-initialized .slick-active
{
    transition-duration: 1s;
    opacity: 1;
}
.slick-initialized .slick-center
{
    transition-duration: 1s;
    transform: scale(1);
}
.slick-initialized .slick-center a
{
    transition-duration: 1s;
    opacity: 1;
}
.slick-initialized .slick-center span
{
    transition-duration: 1s;
    opacity: 1;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dotted.slick-slider
{

    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 26px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: grey !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #412FAE !important;
    transform: scaleX(2);
}
@media (max-width: 800px){
    .slick-slide a{
    opacity: 1;
}
.slick-slide span{
    opacity: 1;
}
}
@media screen and (max-width: 480px) {
    .py-1-5 {
        width: 50px;
    }
}

@media (min-width: 1440px) {
  body {
    /* width: 1440px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%); */
  }
}