@font-face {
    font-family: "Noto Sans Regular";
    src: url("../../../../../public/fonts/notosansdisplay/NotoSansDisplay-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Noto Sans Medium";
    src: url("../../../../../public/fonts/notosansdisplay/NotoSansDisplay-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Noto Sans Bold";
    src: url("../../../../../public/fonts/notosansdisplay/NotoSansDisplay-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Muller Regular";
    src: url("../../../../../public/fonts/Muller/MullerRegular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Muller Medium";
    src: url("../../../../../public/fonts/Muller/MullerMedium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Muller Bold";
    src: url("../../../../../public/fonts/Muller/MullerBold.ttf") format("truetype");
  }
  
  .mainWrapperOfEditProgram {
      /* background-color: #f1faff; */
      width: 100vw;
      padding: 20px 20px 0 20px
  }
  
  .cantainer{
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      border: 2px solid #007AFF;
      border-radius: 32px;
      margin: 80px;
  }
  
  .mainTitle{
      height: 80px;
      background: #CAE3FF;
      border-radius: 32px 32px 0px 0px;
      display: flex;
      align-items: center;
  }
  
  .mainTitle span{
      font-family: 'Muller Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;
      color: #1E2432;
      margin-left: 80px;
  }
  
  .programBlock{
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-top: 50px;
      margin-left: 80px;
  }
  
  .programBlock h1{
      font-family: 'Muller Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;
      color: #1E2432;
  }
  
  .courseSelect{
      padding: 12px 20px;
      gap: 10px;
      width: 320px;
      height: 48px;
      background: #FFFFFF;
      border: 1px solid #A2A7B2;
      border-radius: 4px;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #212121;
      align-items: center;
      margin-bottom: 20px;
  }
  
  .programBlock h2{
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
  }
  
  .programTitle{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px;
      gap: 10px;
      width: 320px;
      height: 48px;
      background: #FFFFFF;
      border: 1px solid #A2A7B2;
      border-radius: 4px;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
  }
  
  .saveButton{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 18px 0px;
      gap: 10px;
      width: 260px;
      height: 48px;
      background: #007AFF;
      border-radius: 8px;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      border: none;
  }
  
  .lessonsBlock{
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-left: 80px;
  }
  
  .lessonsBlock h1{
      font-family: 'Muller Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;
      color: #1E2432;
      margin-top: 20px;
  }
  
  .lessonSelectBlock{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
  }
  
  .lessonInfoFirstRow{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .lessonInfoFirstRow span{
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 10px;
  }
  
  .lessonTitle{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px;
      gap: 10px;
      width: 320px;
      height: 48px;
      background: #FFFFFF;
      border: 1px solid #A2A7B2;
      border-radius: 4px;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
  }
  
  .lessonDate{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px;
      gap: 10px;
      height: 48px;
      background: #FFFFFF;
      border: 1px solid #A2A7B2;
      border-radius: 4px;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
  }
  
  .lessonInfoSecondRow{
      display: flex;
      flex-direction: column;
  }
  
  .lessonInfoSecondRow span{
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 10px;
  }
  
  .lessonContent{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 10px 4px 4px 12px;
      gap: 12px;
      height: 136px;
      background: #FFFFFF;
      border: 1px solid #A2A7B2;
      border-radius: 8px;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
  }
  
  .lessonSaveButton{
      display: flex;
      flex-direction: row;
      justify-content: end;
  }
  
  .fillSelectedLesson{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      gap: 10px;
      width: 80px;
      height: 32px;
      background-color: #3C9AFF;
      border-radius: 4px;
      /*margin-right: 20px;*/
      text-align: center;
      cursor: pointer;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      /*margin-bottom: 5px;*/
  }
  
  .emptySelectedLesson{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      gap: 10px;
      width: 80px;
      height: 32px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
      border: 1px solid #4A4A4A;
      border-radius: 4px;
      /*margin-right: 20px;*/
      text-align: center;
      cursor: pointer;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: black;
      /*margin-bottom: 5px;*/
  }
  
  .fillLesson{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      gap: 10px;
      width: 80px;
      height: 32px;
      background-color: #3C9AFF;
      border-radius: 4px;
      /*margin-right: 20px;*/
      text-align: center;
      cursor: pointer;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      /*margin-bottom: 5px;*/
  }
  
  .emptyLesson{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      gap: 10px;
      width: 80px;
      height: 32px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
      border: 1px solid #4A4A4A;
      border-radius: 4px;
      /*margin-right: 20px;*/
      text-align: center;
      cursor: pointer;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: black;
      /*margin-bottom: 5px;*/
  }
  
  .plusMinusButton{
      width: 32px;
      height: 32px;
      background-color: #007AFF;
      border-radius: 50%;
      text-align: center;
      align-items: center;
      color: white;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 22px;
      padding: 4px;
      margin-right: 10px;
      cursor: pointer;
  }
  
  .inputBlock{
      display: flex;
      flex-direction: column;
  }
  
  .exercisesBlock{
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-left: 80px;
      margin-bottom: 50px;
  }
  
  .exercisesBlock h1{
      font-family: 'Muller Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;
      color: #1E2432;
      margin-top: 20px;
  }
  
  .exerciseSelectBlock{
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      flex-wrap: wrap;
      align-items: center;
  }
  
  .fillSelectedExercise{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      gap: 10px;
      width: 80px;
      height: 32px;
      background-color: #3C9AFF;
      border-radius: 4px;
      /*margin-right: 20px;*/
      text-align: center;
      cursor: pointer;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      /*margin-bottom: 5px;*/
  }
  
  .emptySelectedExercise{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      gap: 10px;
      width: 80px;
      height: 32px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
      border: 1px solid #4A4A4A;
      border-radius: 4px;
      /*margin-right: 20px;*/
      text-align: center;
      cursor: pointer;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: black;
      /*margin-bottom: 5px;*/
  }
  
  .fillExercise{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      gap: 10px;
      width: 80px;
      height: 32px;
      background-color: #3C9AFF;
      border-radius: 4px;
      /*margin-right: 20px;*/
      text-align: center;
      cursor: pointer;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      /*margin-bottom: 5px;*/
  }
  
  .emptyExercise{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      gap: 10px;
      width: 80px;
      height: 32px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
      border: 1px solid #4A4A4A;
      border-radius: 4px;
      /*margin-right: 20px;*/
      text-align: center;
      cursor: pointer;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: black;
      /*margin-bottom: 5px;*/
  }
  
  .exerciseInfoFirstRow{
      display: flex;
      flex-direction: column;
  }
  
  .exerciseInfoFirstRow span{
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 10px;
  }
  
  .exerciseText{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 10px 4px 4px 12px;
      gap: 12px;
      height: 136px;
      background: #FFFFFF;
      border: 1px solid #A2A7B2;
      border-radius: 8px;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
  }
  
  .exerciseInfoSecondRow{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .exerciseAnswer{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px;
      gap: 10px;
      width: 320px;
      height: 48px;
      background: #FFFFFF;
      border: 1px solid #A2A7B2;
      border-radius: 8px;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
  }
  
  .reloadButton{
      margin-left: 20px;
      width: 32px;
      height: 32px;
      background-color: #007AFF;
      border-radius: 50%;
      text-align: center;
      align-items: center;
      color: white;
      font-family: 'Noto Sans Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 22px;
      padding: 3px;
      cursor: pointer;
      border: none;
  }
  
  @media screen and (max-width: 1000px) {
      .mainWrapperOfEditProgram {
          padding: 0
      }
      .cantainer {
          margin: 0;
      }
      .lessonInfoFirstRow {
          flex-direction: column;
      }
  }
  @media screen and (max-width: 768px) {
      .mainWrapperOfEditProgram {
          padding: 0
      }
      .cantainer {
          margin: 0;
      }
      .lessonInfoFirstRow {
          flex-direction: column;
      }
  }
  @media screen and (max-width: 480px) {
      .mainWrapperOfEditProgram {
          padding: 0
      }
      .cantainer {
          margin: 0;
          padding: 0 10px;
      }
      .lessonInfoFirstRow {
          flex-direction: column;
      }
  }